//layout

$spacing: 2rem;
$spacing-sml: 1rem;
$b-rad-sml: .5rem;

//colors

$red-light: #d11111;
$red-dark: #9c1c36;
$orange-dark: #ffc400;
$orange-light: #ffd500;
$red-solid: #ff3a22;
$vanilla: #f6f5f3;
$yellow: #feda6a;
$grey-dark: #393f4d;
$grey-light: #ededed;


//fonts

$font-1: "Annie Use Your Telescope";
$font-2: "Rock Salt";
